.shopping-cart-box{
    width: 700px;
    height: 400px;
    background: #E3EEE4 ;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    display: none;
}
.shopping-cart-box li{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Ysabeau', sans-serif;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
}


.shopping-cart-box img{
    width: 100px;
    height: 100px;

}
.close{
    background: url(../img/крестик.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    margin: 10px 10px auto auto;

}
.close:hover{
    background-color: #0A5611;
    border-radius: 9px;
    transition: 0.3s;
    
}
.shopping-cart-box--active{
    width: 700px;
    min-height: 400px;
    height: fit-content;
    background: #E3EEE4 ;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    display: block;
}

.shopping-cart-box .counter-and-price{
    display: block;
}

.shopping-cart-box .butterfly-item-img{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}